absl-py==1.0.0
aiohttp==3.8.1
aiosignal==1.2.0
alembic==1.4.0
altair==4.1.0
astor==0.8.1
async-generator==1.10
async-timeout==4.0.1
asynctest==0.13.0
attrs==19.3.0
backcall==0.1.0
backports.zoneinfo==0.2.1
base58==2.1.1
beautifulsoup4==4.8.1
bleach==3.1.0
blinker==1.4
bs4==0.0.1
cachetools==4.2.4
certifi==2019.11.28
certipy==0.1.3
cffi==1.13.2
chardet==3.0.4
charset-normalizer==2.0.9
click==8.0.3
colorama==0.4.3
conda==4.8.2
conda-package-handling==1.6.0
configparser==5.2.0
cryptography==2.8
Cython==0.29.13
datasets==1.16.1
decorator==4.4.1
defusedxml==0.6.0
dill==0.3.4
docker-pycreds==0.4.0
entrypoints==0.3
fasttext==0.9.1
filelock==3.4.0
frozenlist==1.2.0
fsspec==2021.11.1
gitdb==0.6.4
gitdb2==3.0.2
GitPython==3.0.8
google-auth==2.3.3
google-auth-oauthlib==0.4.6
grpcio==1.43.0
huggingface-hub==0.2.1
idna==2.8
importlib-metadata==1.5.0
ipykernel==5.1.4
ipython==7.12.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
jedi==0.16.0
Jinja2==2.11.1
joblib==1.1.0
json5==0.9.0
jsonschema==3.2.0
jupyter-client==5.3.4
jupyter-core==4.6.2
jupyter-telemetry==0.0.5
jupyterhub==1.1.0
jupyterlab==1.2.6
jupyterlab-git==0.9.0
jupyterlab-latex==1.0.0
jupyterlab-server==1.0.6
Mako==1.1.0
Markdown==3.3.6
MarkupSafe==1.1.1
mistune==0.8.4
multidict==5.2.0
multiprocess==0.70.12.2
nbconvert==5.6.1
nbdime==1.1.0
nbformat==5.0.4
nbresuse==0.3.3
nltk==3.6.5
notebook==6.0.3
numpy==1.21.5
oauthlib==3.0.1
packaging==21.3
pamela==1.0.0
pandas==1.3.5
pandocfilters==1.4.2
parso==0.6.1
pathtools==0.1.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.4.0
POT==0.6.0
prometheus-client==0.7.1
promise==2.3
prompt-toolkit==3.0.3
protobuf==3.19.1
psutil==5.6.7
ptyprocess==0.6.0
pyarrow==6.0.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybind11==2.3.0
pycosat==0.6.3
pycparser==2.19
pycurl==7.43.0.5
pydeck==0.7.1
pyenchant==3.2.2
Pygments==2.5.2
PyJWT==1.7.1
Pympler==1.0
pyOpenSSL==19.1.0
pyparsing==3.0.6
pyrsistent==0.15.7
PySocks==1.7.1
python-dateutil==2.8.1
python-editor==1.0.4
python-json-logger==0.1.11
pytz==2021.3
pytz-deprecation-shim==0.1.0.post0
PyYAML==6.0
pyzmq==18.1.1
regex==2021.11.10
requests==2.22.0
requests-oauthlib==1.3.0
rsa==4.8
ruamel-yaml==0.15.80
ruamel.yaml.clib==0.2.0
sacremoses==0.0.46
scikit-learn==1.0.1
scipy==1.7.3
Send2Trash==1.5.0
sentencepiece==0.1.96
sentry-sdk==1.5.1
seqeval==1.2.2
shortuuid==1.0.8
simpletransformers==0.63.3
six==1.14.0
sklearn==0.0
smmap==0.9.0
smmap2==2.0.5
soupsieve==1.9.5
SQLAlchemy==1.3.13
streamlit==1.3.0
subprocess32==3.5.4
tensorboard==2.7.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
threadpoolctl==3.0.0
tika==1.22
tokenizers==0.10.3
toml==0.10.2
toolz==0.11.2
torch==1.10.1
torchvision==0.11.2
tornado==6.0.3
tqdm==4.62.3
traitlets==4.3.3
transformers==4.14.1
typing-extensions==4.0.1
tzdata==2021.5
tzlocal==4.1
Unidecode==1.1.1
urllib3==1.25.7
validators==0.18.2
wandb==0.12.9
watchdog==2.1.6
wcwidth==0.1.8
webencodings==0.5.1
Werkzeug==2.0.2
widgetsnbextension==3.5.1
xxhash==2.0.2
yarl==1.7.2
yaspin==2.1.0
zipp==2.2.0
